.main {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  
  min-height: 100vh;

  background-color: #000;
  background-image: url('assets/drink-bg.png');
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
}


.title {
  color: #fff;
  font-size: 48px;

  margin-bottom: 24px;
}